.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.start-btn {
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 600;
    color: white ;
    background: #111 ;
    border: 2px solid #2b2b2b ;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-btn:hover {
    background: #252525 ;
    border-color: #555 ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35) ;
}

.more-btn {
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 600;
    color: white ;
    background: #111 ;
    border: 2px solid #2b2b2b ;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.more-btn:hover {
    background: #252525 ;
    border-color: #555 ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35) ;
}

#car-catalog {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.carousel-caption h5 {
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.carousel-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    padding-top: 20px;
    user-select: none;
}
.download-btn {
    background: linear-gradient(180deg,#1b2838 0%,#171a21 100%);
    border: none;
    padding: 15px 35px;
    border-radius: 20px;
}

.download-text {
    padding-top: 150px !important;
}

.accordion {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}